.git
.github
.venv
venv

**/__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.ruff_cache
.mypy_cache
.coverage*
htmlcov

build
dist
output
tmp
docs/*
!docs/assets
!docs/assets/**
tests

.env
.env.*
.secrets
secrets
*.key
*.pem

*.pt
*.pth
.DS_Store
Thumbs.db
.idea
.vscode
